*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --upper_bg: #009688;
    --lower_bg: #d8dbd6;
    --notifications: #8edafc;
    --menu: #eaeaea;
    --selected: #e9ebeb;
    --msg_sent: #d5f9ba;
    --user_output: #f3eeea;
    --search: #fafafa;
    --icon_color: #b1b1b1;
}

.pos_rel{
    position: relative;
}

.upper_bg{
    background-color: var(--upper_bg);
    height: 15vh;
}

.lower_bg{
    background-color: var(--lower_bg);
    height: 85vh;
}

.container{
    position: absolute;
    height: 94vh;
    width: 80%;
    margin: 3vh 10%;
    background-color: white;
    display: flex;
}

.sezione_contatti{
    width: 35%;
}
.text_area{
    width: 65%;
}
.active{
    background-color: var(--selected);
}
/* contatti */
/* navbar */
.navbar{
    background-color: var(--menu);
    display: flex;
    justify-content: space-between;
    border-right: 1px solid gray;
}
.user{
    height: 80px;
    align-items: center;
    display: flex;
}
.user > img{
    height: 80%;
    margin: 10%;
    border-radius: 50%;
    display: inline;
}
.user > p{
    font-size: 1.2rem;
}
.options{
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
    padding-right: 30px;
}
.options > i{
    color: var(--icon_color);
    font-size: 1.5rem;
}
/* notifiche */
.notifiche{
    display: flex;
    background-color: var(--notifications);
    height: 80px;
    padding: 5%;
    align-items: center;
}
.notif_icon{
    border-radius: 50%;
    color: var(--notifications);
    background-color: white;
    font-size: 30px;
    padding: 10px;
}
.notif_text{
    padding-left: 2rem;
}
.notif_text > a{
    color: gray;
}
/* searchbar */
.searchbar{
    background-color: var(--search);
    height: 50px;
    padding: 5px;
}
.container_search{
    height: calc(100% - 10px);
    display: flex;
    margin: 5px;
    background-color: white;
    align-items: center;
}
.search_btn{
    color: var(--icon_color);
    font-size: 20px;
    padding: 0px 30px;
}
.search_input{
    width: calc(100% - 80px);
}
.search_input > input{
    border: none;
    width: 100%;
}
/* contatti */
.contatti{
    overflow-y: scroll;
    height: calc(100% - 210px);
}
.contatto{
    height: 80px;
    display: flex;
    border-bottom: 1px solid var(--selected);
    justify-content: space-between;
}
.selected{
    background-color: var(--selected);
}
.contatto > img{
    border-radius: 50%;
    height: 80%;
    margin: 10% 10px;
    align-self: center;
}
.contact_info{
    align-self: center;
    flex-grow: 2;
}
.last_msg{
    color: grey;
}
.time{
    font-size: 12px;
    color: grey;
    padding: 10px;
}
/* text area */
/* info contatto selezionato */
.user_selected{
    background-color: var(--menu);
    height: 80px;
    align-items: center;
    display: flex;
}
.user_selected > img{
    height: 80%;
    margin: 10% 10px;
    border-radius: 50%;
}
.user_info{
    flex-grow: 2;
}
/* are messaggi contatto selezionato */
.area_messaggi{
    background-image: url(/assets/img/mine.jpg);
    height: calc(100% - 160px);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}
.message{
    padding: 10px 15px;
    border-radius: 10px;
    max-width: 40%;
}
.sent{
    background-color: var(--msg_sent);
    align-self: flex-end;
    margin: 1rem;
}
.received{
    padding: 10px 15px;
    border-radius: 10px;
    background-color: white;
    align-self: flex-start;
    margin: 1rem;
}
/* area input messaggi utente */
.input_messaggi{
    height: 80px;
    display: flex;
    align-items: center;
    background-color: var(--user_output);
}
.menu_emoji, .msg_vocale{
    color: gray;
    font-size: 2rem;
    padding: 0 40px;
}
.area_input_messaggio{
    flex-grow: 2;
}
.area_input_messaggio > input{
    border: none;
    width: 100%;
    padding: 20px 10px;
}