*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --upper_bg: #009688;
    --lower_bg: #d8dbd6;
    --notifications: #8edafc;
    --menu: #eaeaea;
    --selected: #e9ebeb;
    --msg_sent: #d5f9ba;
    --user_output: #f3eeea;
    --search: #fafafa;
    --icon_color: #b1b1b1;
}

.pos_rel{
    position: relative;
}

.upper_bg{
    background-color: var(--upper_bg);
    height: 15vh;
}

.lower_bg{
    background-color: var(--lower_bg);
    height: 85vh;
}

.container{
    position: absolute;
    height: 94vh;
    width: 80%;
    margin: 3vh 10%;
    background-color: white;
    display: flex;
}

.contatti{
    width: 35%;
}
.text_area{
    width: 65%;
}

/* navbar */
.navbar{
    background-color: var(--menu);
    display: flex;
    justify-content: space-between;
}
.user{
    height: 80px;
    align-items: center;
    display: flex;
}
.user > img{
    height: 80%;
    margin: 10%;
    border-radius: 50%;
    display: inline;
}
.user > p{
    font-size: 1.2rem;
}
.options{
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
    padding-right: 30px;
}
.options > i{
    color: var(--icon_color);
    font-size: 1.5rem;
}
